
@{
    ViewBag.Title = "Index";
}

<h2>Menu chức năng</h2>

<ul>
    <li>
        @Html.ActionLink("Quản lý nhân viên", "Index", "Staff")
    </li>
    <li>
        @Html.ActionLink("Thống kê nhân viên", "Report", "Staff")
    </li>
</ul>

